@import "tailwindcss";

.editor-shield * {
  all: revert;
}

/* .comment-mark {
  background-color: yellow;
  border-bottom: 1px dotted #333;
} */

.is-active {
  @apply bg-orange-300 font-medium rounded;
}
